.userBox
	&__title
		margin-top: 20px
		padding-left: 15px
	&__tableCont
		width: 100%
		overflow: auto
	&__table
		border-collapse: collapse
		border: 1px solid #ededed
		margin-top: 20px
	&__td
		outline-color: #343e5c
		padding: 0 15px
		height: 40px
		vertical-align: middle
		border: 1px solid #ededed
		width: 50%
		font-size: 16px
		&:first-child
			min-width: 240px
		&:last-child
			text-align: center
	&__tr
		width: 100%
	&__input
		width: 180px
		font-family: 'Montserrat Regular', sans-serif
		font-size: 14px
		text-indent: 5px
	&__textarea

		width: 180px
		height: 80px
		resize: none
		font-family: 'Montserrat Regular', sans-serif
		font-size: 14px
	&__save
		cursor: pointer
		outline-color: #343e5c
		height: 20px
		width: 180px
		border: 1px solid  #ededed
		color: #000
		background-color: #e3e0e0
		transition: background-color .2s
		&:hover
			background-color: darken(#e3e0e0, 3%)

.userOrderBox
	height: 100%