.userBox
	&__title
		margin-top: 20px
		padding-left: 15px
	&__tableCont
		width: 100%
		overflow: auto
	&__table
		border-collapse: collapse
		border: 1px solid #ededed
		margin-top: 20px
	&__td
		outline-color: #343e5c
		padding: 0 15px
		height: 40px
		vertical-align: middle
		border: 1px solid #ededed
		width: 50%
		font-size: 16px
		&:first-child
			min-width: 240px
		&:last-child
			text-align: center
	&__tr
		width: 100%
	&__input
		width: 180px
		font-family: 'Montserrat Regular', sans-serif
		font-size: 14px
		text-indent: 5px
	&__textarea

		width: 180px
		height: 80px
		resize: none
		font-family: 'Montserrat Regular', sans-serif
		font-size: 14px
	&__logout
		background-color: #eb2525
		width: 80px
		border: none
		cursor: pointer
		position: relative
		box-shadow: 2px 2px 2px #800
		&:active
			top: 2px
			left: 2px
			box-shadow: none
		&:hover, &:active
			background-color: darken(#eb2525, 4%)
	&__save
		position: relative
		cursor: pointer
		outline-color: #343e5c
		height: 20px
		width: 180px
		background-color: #00e2aa
		border: none
		color: #000
		transition: background-color .2s
		box-shadow: 2px 2px 2px #249076
		&:active
			top: 2px
			left: 2px
			box-shadow: none
		&:hover,&:active
			background-color: darken(#00e2aa, 3%)

.userOrderBox
	height: 100%